// 全局性的公共内容

// ant design UI
@import '~antd/dist/antd.css';
// reset css 文件
@import 'normalize.scss';
// 全局性 scss 变量
@import 'config.scss';

body {
  background: #00152a;
}

.inline-button {
  button + button {
    margin-left: 10px;
  }
}

.float-right {
  float: right;
}

.margin-top-30 {
  margin-top: 30px;
}

.required-icon {
  label {
    &::before {
      display: inline-block;
      margin-right: 4px;
      color: #ff4d4f;
      font-size: 14px;
      font-family: SimSun, sans-serif;
      line-height: 1;
      content: '*';
    }
  }
}
